<div class='board-container'>
    <div class='chess-tiles'>
        <div class='row' ng-repeat='tileRow in board.tiles'>
            <board-tile last-file='$parent.$last' first-rank='$first' ng-repeat='boardTile in tileRow' tile='boardTile'>
            </board-tile>
        </div>
    </div>
    <div class='chess-pieces'>
        <div class='row' ng-repeat='pieceRow in board.pieces'>
            <chess-piece ng-repeat='piece in pieceRow track by $index' piece='piece'>
            </chess-piece>
        </div>
    </div>
</div>
